############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=password
JWT_SECRET=jwt_scret
ANON_KEY=jwt_secret
SERVICE_ROLE_KEY=jwt_secret
DASHBOARD_USERNAME=username
DASHBOARD_PASSWORD=password
SECRET_KEY_BASE=32chat-secret
VAULT_ENC_KEY=secret
PG_META_CRYPTO_KEY=secret


############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres


############
# Supavisor -- Database pooler
############
# Port Supavisor listens on for transaction pooling connections
POOLER_PROXY_PORT_TRANSACTION=6543
# Maximum number of PostgreSQL connections Supavisor opens per pool
POOLER_DEFAULT_POOL_SIZE=20
# Maximum number of client connections Supavisor accepts per pool
POOLER_MAX_CLIENT_CONN=100
# Unique tenant identifier
POOLER_TENANT_ID=your-tenant-id
# Pool size for internal metadata storage used by Supavisor
# This is separate from client connections and used only by Supavisor itself
POOLER_DB_POOL_SIZE=5


############
# API Proxy - Configuration for the Kong Reverse proxy.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443


############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
SITE_URL=https://iktibas.app
GOTRUE_MAILER_URLPATHS=/auth/*
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
API_EXTERNAL_URL=https://api.iktibas.app

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false

GOTRUE_EXTERNAL_GOOGLE_ENABLED=true
GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID=client_id
GOTRUE_EXTERNAL_GOOGLE_SECRET=secret
GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI=https://api.iktibas.app/auth/v1/callback

############################################
# SMTP Mail Config (Internal Server)
############################################
GOTRUE_MAILER_EXTERNAL_HOSTS=api.iktibas.app
SMTP_ADMIN_EMAIL=info@iktibas.app
SMTP_HOST=mail.mail.com
SMTP_PORT=587
SMTP_USER=info@iktibas.app
SMTP_PASS=password
SMTP_SENDER_NAME="iktibas"
############################################
ENABLE_ANONYMOUS_USERS=false
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=false

############
# Studio - Configuration for the Dashboard
############

STUDIO_DEFAULT_ORGANIZATION=iktibas
STUDIO_DEFAULT_PROJECT=iktibas

STUDIO_PORT=3000
# replace if you intend to use Studio outside of localhost
SUPABASE_PUBLIC_URL=http://localhost:8000

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=false


############
# Logs - Configuration for Analytics
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

# Change vector.toml sinks to reflect this change
# these cannot be the same value
LOGFLARE_PUBLIC_ACCESS_TOKEN=access_token
LOGFLARE_PRIVATE_ACCESS_TOKEN=private_access_token

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# EDGE FUNCS
DENO_TLS_CA_STORE=system
